<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="default.css" />
<title>Contents</title>
</head>
<body>
<ul>{{range .}}
<li><a href="{{.Link}}">{{.Title}}</li>{{end}}
</ul>
</body>
</html>
