<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="default.css" />
<title>{{.Title}}</title>
</head>
<body>
<p class="prevnext"><a href="{{.Prev}}">&lt;</a><a href="{{.Next}}">&gt;</a></p>
{{.Body}}
<p class="prevnext"><a href="{{.Prev}}">&lt;</a><a href="{{.Next}}">&gt;</a></p>
</body>
</html>
